@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;400&display=swap');
.register_head{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    /* border: 1px solid black; */
}
.panelBody
{
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid black; */
}
.background
{
    height: 598px;
    background-color:#06283D;
}
.brand-img
{
    padding-top: 2rem;
}
